.md-button {
  // background: #2196f3;
  width: 30px;
  display: block;
  position: relative;
  > .line {
    width: 100%;
    background: #fafafa;
    height: 2px;
    display: block;
    // margin-left: auto;
    // margin-right: auto;
    margin-top: 3px;
    transition: all 300ms ease;
  }
  &.left-arrow > .line {
    &:first-child {
      width: 60%;
      transform: rotateZ(-30deg);
    }
    &:last-child {
      width: 60%;
      transform: rotateZ(30deg);
    }
  }
  &.hook > .line {
    &:first-child {
      opacity: 0;
    }
    &:nth-child(2) {
      transform: rotateZ(-45deg) translate3d(10%, 0, 0);
      width: 90%;
    }
    &:last-child {
      width: 50%;
      transform: rotateZ(45deg) translate3d(-50%, 100%, 0);
    }
  }
}
